

.Filme_Info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 15px;
}

.Filme_Info article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    background-color:#A6A6A6;
    color: #fff;
    background-image: linear-gradient(to bottom, #291840, #371E59);
    padding: 20px;
    border-radius: 5px;
    width: 70%;
}

.Filme_Info  strong{
    padding-bottom: 15px;
    font-size: 28px;
}

.Filme_Info  img{
    width: 110%;
    max-height: 500px;
    border-radius: 8px 8px 0 0 ;
}

.Filme_Info button{
    color: white;
    margin-right: 15px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    border: 0;
    font-size: 16px;
    outline: none;
    padding: 12px;
    background-image: linear-gradient(to bottom,#371E59, #291840);

}

.Filme_Info a{
    text-decoration:none;
    color: white;
   
}
